/* hi{ 
    color: aqua;
}*/

/* BOXES DIMENSIONS */
/*div{ 
    height: 200px;
    width: 200px;
    background-color: aqua;
}*/
/*p{
    width: 90%;
}*/

/* LIMITING WIDTH */
/*td.description{
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0px;
}*/

/* LIMITING HEIGHT */

