/* hi{ 
    color: aqua;
}*/

/* BOXES DIMENSIONS */
/*div{ 
    height: 200px;
    width: 200px;
    background-color: aqua;
}*/
/*p{
    width: 90%;
}*/

/* LIMITING WIDTH */
/*td.description{
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0px;
}*/

/* LIMITING HEIGHT */
/*h2, p {
    width: 400px;
    font-size: 90%;
    line-height: 1.2em;
}
h2 {
    color: #0088dd;
    border-bottom: 1px solid #0088dd;}
    p{
        min-height: 50px;
        min-width: ;
        border: 1px solid blueviolet;
    }*/

    
